.wrapper {
  margin-top: 50px;
  border: 1px solid gray;
  padding: 20px 25px;
  width: 304px;
  display: flex;
  flex-direction: column;
}

.title_name {
  text-align: left;
  margin: 0;
}

.title {
  font-weight: bold;
  margin: 0;
}

.wrapper_name_button,
.wrapper_name {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.wrapper_name {
  padding-left: 10px;
  padding-bottom: 20px;
}

.button {
  margin-left: 10px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.input {
  width: 100%;
  padding-left: 10px;
}

.wrapper_input_button {
  display: flex;
}

.wrapper_subList {
  margin-top: 40px;
}
