#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1138px;
  margin: 100px auto 0;
}

.wrapper_card {
  text-align: end;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.title {
  text-align: center;
}
